*{
    margin: 0;
    padding: 0;
}
.header-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    text-align: left;
    padding-top: 30px;
    
}
.header-right-content img{
    width: 445px;
    height: 577px;
    
}
.header-title{
    font-size: 54px;
    font-family: sans-serif;
}
.header-discription{
    font-size:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-family: serif;
}
.btn-header{
border-radius: 8px;
background: #E55473;
padding: 18px 30px;
border: none;
color: white;
font-family: serif;
font-size: 20px;
}
.header-left-content{
    padding-left: 100px;
}
.header-right-content{
    padding-right: 100px;
}

.flower-section{
    display: flex;

}

.featue-title{
    font-family: sans-serif;
    font-size: 40px;
}
.featured-section{
    padding-bottom: 25px;
}
.featured-section h1 {
    align-content: center;
    text-align: center;
    color: #272727;
    padding-top: 120px;
    font-size: 54px;
    padding-bottom: 10px;
}
.featured-section p {
    align-content: center;
    text-align: center;
    font-size: 20px;
    color: rgba(39, 39, 39, 0.60);
    padding-bottom: 15px;
    font-family: serif;
   
}
.flower-section{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-around;
    padding: 0px 40px;
}
.flower-round-img {
    width: 380px;
    height:428px ;
    border-radius: 350px 350px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 0px;
}
.flower-round-img img {
width: 200px;
height: 280px;
margin-bottom: 20px;
padding-top: 148px;
}
.name-flower{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding-top: 15px;
    text-decoration: underline;
    font-size: 20px;
    color: #272727;
    font-family: serif;
}

.icon-section{
    display: flex;
    height: 200px;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 70px 40px;
}
.icon-first{
    align-items: center;
    align-content: center;
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    
}
.icon-second{
    align-items: center;
    align-content: center;
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    
}

.icon-three{
    align-items: center;
    align-content: center;
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    

}
.icon-p-tag{
    padding-top: 5px;
    font-family: serif;
    font-size: 20px;
}
.hot-deal-container{
    width: 100%;
    height: 400px;
    display: flex;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    margin: 70px 0px;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

}
.hot-deal-left{
    
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    
}
.hot-deal-left p{
   color:rgba(39, 39, 39, 0.60);
   font-family: serif;
   font-size: 20px;
}
#hot-deal-off{
color: #E55473;

}

.signup{ 
border-radius: 8px;
background-color: #E55473;
padding: 18px 30px;
border: none;
color: white;
margin-top: 20px;
}
.hot-deal-title{
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 40px;
}
.hot-deal-right img {
width: 250px;
height: 300px;
}
.instagram-content{
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    
}
.insta-title{
    margin-bottom: 13px;
    font-family: sans-serif;
    font-size: 40px;
}

.insta-discription{
color:rgba(39, 39, 39, 0.60);
margin-bottom: 20px;
font-family: serif;
font-size: 20px;

}
.instagram-image-section{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-around;

}
.instagram-image{
margin: 70px 30px;    
}
.instagram-image img {
    width:250px;
    height:250px;
    gap: 5px;
    border-radius: 4px;
}
.latest-deal-section{
    background-image: url('Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 320px;
    
}
.latest-deal-title{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 40px;
    font-family: sans-serif;

}
.latest-deal-para{
    font-size: 20px;
    font-family: serif;
    margin-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);
}
.latest-deal-section{
    display:inline-block;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    justify-content: center;
    margin-bottom: 70px;
}
.input-field input {
    padding: 18px 30px;
    width: 50%;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    font-family: serif;
    font-size: 20px;
}

.latest-deal-button{
border-radius: 8px;
background-color: #E55473;
padding: 18px 30px;
border: none;
color: white;
font-family: serif;
font-size: 20px;
}
#mail{
    color: rgba(39, 39, 39, 0.60);
}
/* Footer section star */
.footer-container{
    width: 100%;
    height: 400px;
    background-color:#111010;
    color: white;
    text-align: center;
}

.footer-title{
    font-size: 40px;
    padding-top: 120px;
    margin-bottom: 20px;
    font-family: sans-serif;

}

.footer-discription{
   font-size: 20px;
   color: rgba(255, 255, 255, 0.90);
   font-family: serif;
}
#footer-shop{
color: #E55473;
}

.footer-copyright{
  color:rgba(255, 255, 255, 0.40);
  font-size: 20px;
  font-family:serif
}
